@import './scroll.less';
@import './transition.less';
html,body{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}
div#app {
  height: 100%
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ml-10{
  margin-left:10px;
}
.mt-10{
  margin-top:10px;
}
.mr-10{
  margin-right:10px;
}
.mb-10{
  margin-bottom:10px;
}

.mb-5{
  margin-bottom:5px;
}


.ant-btn-link{
  height:24px;
}

// theme

@bg-color:  #ebf1f6;
@bg-menu-item-color:hsla(0,0%,100%,.5);
.ant-layout{
  background-color: @bg-color;
}
.ant-layout-header {
  background-color: @bg-color
}
.ant-layout-sider {
  background-color:@bg-color
}
.ant-menu{
  background-color: @bg-color;
  &.ant-menu-submenu-popup{
    background-color: transparent;
  }
}
.aside-menu{
  .ant-menu-submenu > .ant-menu{
    background-color:@bg-color
  }

  .ant-menu-item-active{
    background-color: @bg-menu-item-color;
  }
  .ant-menu-item-selected{
    background-color: @bg-menu-item-color !important;
  }
}
